<!DOCTYPE html>
<html>
<head>
	<title>We Connect: CS</title>
	<!-- styles -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	
	<!-- styles-custom -->
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	<!-- scripts -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<header>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/sub">Sub</a>
			<a href="/sub/some-page">Sub Some Page</a>
			<a href="/events">Events</a>
		</nav>
	</header>