<%- include partials/header.ejs %>

<h1><%= title %></h1>
<p><%= description %></p>

<div>
	<form method="post" action="/userMain">
		User ID: <input type="text" name="netID"><br>
		Password: <input type="text" name="password">
	</form>
	
	<input type="submit" value="Login">
	<a href="/signUpPgs">Sign Up</a>
</div>
<script>
</script>

<%- include partials/footer.ejs %>