<%- include partials/header.ejs %>

<h1><%= title %></h1>
<p><%= description %></p>

<div>
	<form>
		User ID: <input type="text" name="userid"><br>
		Password: <input type="text" name="password">
	</form>
	
	<button type="button">Login</button>
	<a href="/signUpPgs">Sign Up</a>
</div>

<%- include partials/footer.ejs %>