<!DOCTYPE html>
<html>
<head>
	<title>We Connect: CS</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<header>
		<nav>
			<a href="/">Home</a>
			<a href="/about">About</a>
			<a href="/sub">Sub</a>
			<a href="/sub/some-page">Sub Some Page</a>
			<a href="/events">Events</a>
		</nav>
	</header>