<!DOCTYPE html>
<html>
<head>
	<title>We Connect: CS</title>
	<!-- styles -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	
	<!-- style-override -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-override.css" />
	
	<!-- styles-custom -->
	<link rel="stylesheet" href="/stylesheets/style.css" />
	
	<!-- scripts -->
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<header style="height:40px; line-height:40px; background:#eeeeee;">
	<nav class="col-lg-6">
		<a href="/" style="padding:0 .5em">WeConnect:<span style="color:red">CS</span></a>
		<a href="/announcement/create" style="padding:0 .5em">Post Announcements</a>
		<a href="/about" style="padding:0 .5em">About</a>
		<a href="/support" style="padding:0 .5em">Support</a>
	</nav>
	<nav class="col-lg-6 text-right">
	<% if (user) { %>
		<span style="padding:0 .5em">
			<span>Welcome <%=user.firstName%> <%=user.lastName%></span>
			<a href="/setting">Setting</a> |
			<a href="/account/logout" style="line-height:40px">Logout</a>
		</span>
	<% } %>
	</nav>
</header>
	
<div id="bodyContainer">
