<%- include ../partials/header.ejs %>

<h1>List of Events</h1>
<ul>
	<% events.forEach(function(event) { %>
		<li><a href="/events/<%= event.id %>"><%= event.name %></a></li>
	<% }) %>
</ul>

<%- include ../partials/footer.ejs %>