<%- include ../partials/header.ejs %>
<div class="col-sm-4 col-sm-offset-4 tall">
	<div class="vcenter-login">
		<h1 style="text-align: center"><%= title %></h1>
		<% if (error) { %>
		<p class="error">
			<%= error %>
		</p>
		<% } %>

		<form id="loginForm" class="form-horizontal" method="post">
			<div class="form-group">
					<input type="text" class="form-control" name="netId" placeholder="Net ID" required />
			</div>
			<div class="form-group" >
					<input type="password" class="form-control" name="password" placeholder="Password" required />
			</div>
			<div class="form-group">
				<div class="col-sm-offset-7 col-sm-5">
					<a href="/account/agreement" class="btn btn-default">Sign Up</a>
					<button type="submit" class="btn btn-primary">Log-in</button>
				</div>
	    	</div>
		</form>
	</div>
</div>

<script>
$('#loginForm').validate();
</script>

<%- include ../partials/footer.ejs %>