<%- include ../partials/header.ejs %>

<h1><%= title %></h1>

<div style="height:300px; width:300px; border:1px solid #ccc; overflow:auto;">
Text area.....................................................Text area
Text area.....................................................Text area
Text area.....................................................Text area
Text area.....................................................Text area
Text area.....................................................Text area
Text area.....................................................Text area
Text area.....................................................Text area

Text area.....................................................Text area
Text area.....................................................Text area
Text area.....................................................Text area

Text area.....................................................Text area
Text area.....................................................Text area

Text area.....................................................Text area

Text area.....................................................Text area

Text area.....................................................Text area

Text area.....................................................Text area
Text area.....................................................Text area
</div>

<form method="get">
	<div class="form-group">
		<label><input type="checkbox" id="agreement"> I Agree</label>
	</div>
	<div class="form-group">
		<a href="/account/register/student" class="btn btn-primary">Student</a>
		<a href="/account/register/faculty" class="btn btn-primary">Faculty</a>
	</div>
</form>

<script>
function getCheckBox(form) {
	var clicked = document.getElementById("agreement").checked;
	if (clicked){
		return true;
	}
	else {
		alert("You need to agree to the Terms and Agreement");
	}
	return false;
}
</script>
	
<%- include ../partials/footer.ejs %>