<%- include partials/header.ejs %>

<div id="topContainer" class="row">
	<div class="col-md-3">
		<div id="pictureContainer">
			<div class="picture">
				<img src="http://www.hdwallpapers.in/walls/amanda_seyfried-normal5.4.jpg" />
			</div>
		</div>
	</div>
	<div id="profileContainer" class="col-md-9">
		<h1 class="name">
			Darko Marinov
			<span class="email">
				<em><a href="mailto:marino@illinois.edu">marino@illinois.edu</a></em>
			</span>
		</h1>
		<p>
			<em>Undergraduate (Freshman) in Computer Science</em>
		</p>
		<p class="intro">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate tempor magna, eget mollis justo interdum eget. Sed in justo varius, consequat libero quis, vestibulum eros. Proin a tempor quam, at bibendum lacus
			<a href="" data-toggle="modal" data-target="#fullIntro"><em>...more</em></a>
		</p>
		<p class="interests">
			<span class="label label-default">Software Engineering</span>
			<span class="label label-default">Data Mining</span>
			<span class="label label-default">Comptuer Architecture</span>
			<span class="label label-default">Database</span>
			<span class="label label-default">Software Engineering</span>
		</p>
		<div class="buttons">
			<button type="button" class="btn btn-default">
				Following <span class="badge">17</span>
			</button>
			<button type="button" class="btn btn-default">
				Followers <span class="badge">68</span>
			</button>
		</div>
	</div>
</div>

<div id="bottomContainer" class="row">
	<div id="mainContainer" class="col-md-9">
		
	</div>
	<div id="sideContainer" class="col-md-3">
		<h3 class="header-side">Suggested Users</h3>
		<div class="user">
			<div class="top row">
				<div class="col-md-4">
					<div class="picture">
					</div>
				</div>
				<div class="side col-md-8">
					<p class="name">Jessica</br />Alba</p>
					<div class="email">
						<em><a href="mailto:oooalba@illinois.edu">oooalba@illinois.edu</a></em>
					</div>
				</div>
			</div>
			<div class="interests">
				<span class="label label-info">Software Engineering</span>
				<span class="label label-info">Data Mining</span>
				<span class="label label-info">Computer Architecture</span>
				<span class="label label-info">Database</span>
			</div>
		</div>
		<div class="user">
			<div class="top row">
				<div class="col-md-4">
					<div class="picture">
					</div>
				</div>
				<div class="side col-md-8">
					<p class="name">Samuel</br />Jackson</p>
					<div class="email">
						<em><a href="mailto:oooalba@illinois.edu">jackson@illinois.edu</a></em>
					</div>
				</div>
			</div>
			<div class="interests">
				<span class="label label-info">Data Mining</span>
				<span class="label label-info">Computer Architecture</span>
			</div>
		</div>
		<div class="user">
			<div class="top row">
				<div class="col-md-4">
					<div class="picture">
					</div>
				</div>
				<div class="side col-md-8">
					<p class="name">Elizabeth</br />Taylor</p>
					<div class="email">
						<em><a href="mailto:oooalba@illinois.edu">oooalba@illinois.edu</a></em>
					</div>
				</div>
			</div>
			<div class="interests">
				<span class="label label-info">Computer Architecture</span>
				<span class="label label-info">Software Engineering</span>
				<span class="label label-info">Data Mining</span>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="fullIntro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate tempor magna, eget mollis justo interdum eget. Sed in justo varius, consequat libero quis, vestibulum eros. Proin a tempor quam, at bibendum lacus. Morbi pulvinar libero nisi, nec rhoncus nulla gravida nec. Sed lobortis, diam nec molestie tristique, est purus blandit lectus, et dictum sapien neque sit amet arcu. Nam commodo diam libero, ut viverra ipsum tempus a. Cras sit amet odio nunc. Curabitur in est urna. Suspendisse potenti.</p> 
			</div>
		</div>
	</div>
</div>


<%- include partials/footer.ejs %>