<%- include partials/header.ejs %>

<h1><%= title %></h1>
<p><%= description %></p>

<div>
	<form method="post" action="/login">
		User ID: <input id="netId" type="text" name="netId"><br>
		Password: <input id="password" type="password" name="password">
		<br>
		<input type="submit" onclick="return checkInputs(this.form);" value="Login">
	</form>
	<a href="/signUpPgs">Sign Up</a>
</div>
<script>
function isValidNetId(netId) { 
	var regex = new RegExp("^[a-zA-Z0-9.]*$");
    return regex.test(netId);
} 

function checkInputs(form) {
	var netId = $('#netId').val();
	var password = $('#password').val();
	if (netId!="" && password!="" && isValidNetId(netId)){
		return true;
	}
	else {
		alert("Please enter a correct netID");
		return false;
	}
}
</script>

<%- include partials/footer.ejs %>